doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Error!
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css")
    body
        .jumbotron
            h2.display-4.text-center we did an oopsie...
            h2.display-6.text-center please report this bug at
            a.display-6.text-center(href="https://forms.office.com/r/UTitwRXRqh", target="_blank", rel="noopener noreferrer") this form