doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    if isAuthd === true
      title Welcome back!
    else
      title 🌐 Join the Huelet Creator Network!
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css")
    link(rel="shortcut icon", href="https://cdn.huelet.net/assets/hnlogo-ts.ico", type="image/x-icon")
    meta(name='title' content='Huelet - The video platform for humans')
    meta(name='description' content='This is the dashboard for creators on Huelet')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://dash.huelet.net/')
    meta(property='og:title' content='Huelet - The video platform for humans')
    meta(property='og:description' content='This is the dashboard for creators on Huelet')
    meta(property='og:image' content='https://cdn.huelet.net/assets/hnlogo-ts.png')
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content='https://dash.huelet.net/')
    meta(property='twitter:title' content='Huelet - The video platform for humans')
    meta(property='twitter:description' content='This is the dashboard for creators on Huelet')
    meta(property='twitter:image' content='https://cdn.huelet.net/assets/hnlogo-ts.png')
    include incl/scripts
  body
    if isAuthd === true
      h2.center.display-4 Welcome back! Let's get you where you need to be.
      div.p-4
        div.p-4
          a(href="/flow/dash/my") Your dashboard
        div.p-4
          a(href="/flow/dash/my/settings") Your settings
        div.p-4
          a(href="/flow/dash/my/videos") Your videos
    else
      div.login
        h2.center.display-4
          a(href="/login") Log in
      div.signup
        h2.center.display-4 Haven't joined yet? Sign up
          a(href="/signup") here!
        h4.center.display-6 Why Huelet?
        p
          a(href="https://huelet.net/cc/") Read the main page here
