doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title test nv
    body 
        form(action="/api/videos/list/new", method="post") 
            input(name="url", type="text")
            input(name="title", type="text")
            input#a(type="text", name="author")
            input(type="submit", value="Submit")