<script defer data-domain="dash.huelet.net" src="https://plausible.io/js/plausible.js"></script>
<style>
    html {
        position: relative
    }
    .version {
    	bottom: 0;
    	left: 0;
        position: absolute
    }
</style>